@import 'scss/gatstrap.scss';

.container {
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    margin-bottom: 2rem;
  }
}

.iconContainer {
  top: -16px;
  right: 10px;
  width: 70px;
  height: 70px;
  margin: auto;
  box-shadow: 0 0 20px 1px #999;

  @include media-breakpoint-down(xs) {
    top: 0px;
    bottom: 0px;
    right: 10px;
    min-width: 50px;
    min-height: 50%;
  }
}
